# 部署私钥
PRIVATE_KEY=

# RPC 端点
ETHEREUM_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/your-api-key
OPTIMISM_RPC_URL=https://opt-mainnet.g.alchemy.com/v2/your-api-key

# ENS 配置
ENS_ROOT_NAME=aastar.eth

# 测试网配置
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-api-key
OP_SEPOLIA_RPC_URL=https://opt-sepolia.g.alchemy.com/v2/your-api-key
